.MuiTypography-colorPrimary {
  color: #ffc107 !important;
}

.MuiTypography-colorTextPrimary {
  color: white !important;
}

.MuiButton-root {
  color: white !important;
}

.MuiButton-textPrimary {
  color: #ffc107 !important;
}

.Clock-clockText-12 {
  color: black !important;
}

.Clock-clockAnalogContainer-10 {
  display: none !important;
}

.MuiIconButton-label {
  color: white !important;
}

.Calendar-labelWeekDay-92 {
  color: #ffc107 !important;
}

.Calendar-selectedDayText-98 {
  color: #ffc107 !important;
}