.khq-login {
    position: absolute;
    top: calc( 50% - 390px/2 );
    left: calc( 50% - 330px/2 );

    padding: 40px;
    background: $gray-900;
    box-shadow: 0 0 40px 5px rgba($tertiary, 0.4);

    > div:first-child {
        margin-bottom: 40px;
    }
}